In [1]:
# 6009
# 변수에 문자 1개를 저장한 후
# 변수에 저장되어 있는 문자를 그대로 출력해보자.

a = input()
print(a)

a
a

In [3]:
# 6010
# 변수에 정수값을 저장한 후 정수로 변환하여 출력해보자.

a = input()
a = int(a)
print(a)

-3
-3

In [ ]:
# 6011
변수에 실수값을 저장한 후
변수에 저장되어 있는 값을 그대로 출력해보자.

f = input()
f = float(f)
print(f)

In [ ]:
# 6012
# 줄을 바꿔 정수(integer) 2개를 입력받아 줄을 바꿔 출력해보자.

a = input() 
b = input()
print(a)
print(b)

In [ ]:
# 6013
# 줄을 바꿔 문자(character) 2개를 입력받고, 순서를 바꿔 한 줄씩 출력해보자.

a = input()
b = input()
print(b)
print(a)

In [5]:
# 6014
# 실수(real number) 1개를 입력받아 줄을 바꿔 3번 출력해보자.

a = input()
a = float(a)
print(a)
print(a)
print(a)

3
3.0
3.0
3.0

In [1]:
# 6015
# 공백을 두고 입력된정수(integer) 2개를 입력받아 줄을 바꿔 출력해보자.

a, b = input().split()
print(a)
print(b)

2 3
2
3

In [3]:
# 6016

#공백을 두고 문자(character) 2개를 입력받아 순서를 바꿔 출력해보자.

a, b = input().split()
print(b, a)

1 2
2 1

In [6]:
# 6017
# 정수(integer), 실수, 문자(character), 문자열(string) 등 1개만 입력받아 한 줄로 3번 출력해보자.

a = input()
print(a, a, a)

안녕
안녕 안녕 안녕

In [ ]:
# 6018
# 24시간 시:분 형식으로 시간이 입력될 때, 그대로 출력하는 연습을 해보자.

# 참고
# input().split(':') 를 사용하면 콜론 ':' 기호를 기준으로 자른다.
# print(?, ?, sep=':') 를 사용하면 콜론 ':' 기호를 사이에 두고 값을 출력한다.
# sep 는 분류기호(seperator)를 의미한다.

a, b= input().split(':')
print(a, b, sep=':')

In [1]:
# 6019
# "연도.월.일"을 입력받아 "일-월-연도" 순서로 바꿔 출력해보자.

# 참고
# y, m, d = input().split('.')
# 과 같이 변수들을 순서대로 나열하면 구분기호를 기준으로 잘라 순서대로 저장한다.

y, m, d = input().split('.')
print(d, m, y, sep='-')

2022.03.15
15-03-2022

In [ ]:
# 6020
# 왼쪽 6자리는 생년월일(YYMMDD)이고, 오른쪽 7자리는 성별,출생지역,확인코드로 구성되어있다.
# 주민번호를 입력받아 형태를 바꿔 출력해보자.

# 주민번호 앞 6자리와 뒷 7자리가 '-'로 구분되어 입력된다.
# (입력값은 가상의 주민번호이다.)
# ex)110011-0000000

# '-'를 제외한 주민번호 13자리를 모두 붙여 출력한다.

a, b = input().split('-')
print(a+b)