In [1]:
# 1. Hello World!를 출력하시오.

print("Hello World!\n")

Hello World!

In [2]:
# 2. 두 줄에 걸쳐 "강한친구 대한육군"을 한 줄에 한 번씩 출력한다.

print("강한친구 대한육군")
print("강한친구 대한육군")

강한친구 대한육군
강한친구 대한육군

In [3]:
# 3. 예제와 같이 고양이를 출력하시오.

# \    /\
#  )  ( ')
# (  /  )
#  \(__)|

print("\\    /\\")
print(" )  ( ')")
print("(  /  )")
print(" \\(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

In [12]:
# 4. 예제와 같이 개를 출력하시오.

# |\_/|
# |q p|   /}
# ( 0 )"""\
# |"^"`    |
# ||_/=\\__|

print ('|\\_/|')
print ('|q p|   /}')
print ('( 0 )"""\\')
print ('|"^"`    |')
print ('||_/=\\\\__|')

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

In [5]:
# 5. 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.
#    첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)

a,b = input().split()
print(int(a) + int(b))

1 2
3

In [6]:
# 6. 두 정수 A와 B를 입력받은 다음, A-B를 출력하는 프로그램을 작성하시오.
#    첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)

a,b = input().split()
print(int(a) - int(b))

3 2
1

In [7]:
# 7. 두 정수 A와 B를 입력받은 다음, A×B를 출력하는 프로그램을 작성하시오.
#    첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)

a,b = input().split()
print(int(a) * int(b))

2 3
6

In [8]:
# 8. 두 정수 A와 B를 입력받은 다음, A/B를 출력하는 프로그램을 작성하시오.
#    첫째 줄에 A와 B가 주어진다.

a,b = input().split()
print(int(a) / int(b))

6 2
3.0

In [9]:
# 9. 두 자연수 A와 B가 주어진다.
#    이때, A+B, A-B, A*B, A/B(몫), A%B(나머지)를 출력하는 프로그램을 작성하시오. 
#    두 자연수 A와 B가 주어진다.
#    첫째 줄에 A+B, 둘째 줄에 A-B, 셋째 줄에 A*B, 넷째 줄에 A/B, 다섯째 줄에 A%B를 출력한다.

a,b = input().split()
print(int(a) + int(b))
print(int(a) - int(b))
print(int(a) * int(b))
print(int(a) // int(b))
print(int(a) % int(b))

6 3
9
3
18
2
0

In [10]:
# 10. 준하는 사이트에 회원가입을 하다가 joonas라는 아이디가 이미 존재하는 것을 보고 놀랐다.
#     준하는 놀람을 ??!로 표현한다. 준하가 가입하려고 하는 사이트에 이미 존재하는 아이디가 주어졌을 때,
#     놀람을 표현하는 프로그램을 작성하시오.

print(input()+"??!")

joonas
joonas??!

In [11]:
# 11. 불기 연도가 주어질 때 이를 서기 연도로 바꿔 주는 프로그램을 작성하시오.
#     ex) 입력 : 2541 / 출력 : 1998 

print(int(input())-543)

2541
1998

In [14]:
# 12. 세 수 A, B, C가 주어졌을 때, 위의 네 가지 값을 구하는 프로그램을 작성하시오.
#     첫째 줄에 (A+B)%C, 둘째 줄에 ((A%C) + (B%C))%C,
#     셋째 줄에 (A×B)%C, 넷째 줄에 ((A%C) × (B%C))%C를 출력한다.


A,B,C = map(int,input().split())

print((A+B)%C)
print(((A%C) + (B%C))%C)
print((A*B)%C)
print(((A%C) * (B%C))%C)

5 6 8
3
3
6
6

In [20]:
# (세 자리 수) × (세 자리 수)는 다음과 같은 과정을 통하여 이루어진다.
# 입력 : 472
#        385
# 출력 : 2360
#        3776
#        1416
#        181720



a = int(input())
b = input()

axb2 = a * int(b[2])
axb1 = a * int(b[1])
axb0 = a * int(b[0])

axb = a * int(b)

print(axb2, axb1, axb0, axb)

123
123
369 246 123 15129